{% include 'admin/adminheader.html' %}

{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr >
      <td>#</td>
      <td>NAME</td>
      <td>EMAIL</td>
      <td>PHONE</td>
      <td>ABOUT</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['name'] }}</td>
      <td>{{ i['email'] }}</td>
      <td>{{ i['phone'] }}</td>
      <td>{{ i['about'] }}</td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}
{% include 'admin/adminfooter.html' %}