
{% include 'adminheader.html' %}

{% block body %}
</head>
<body>


<form method="post" action="/forpassword">
    <table align="center">
        <tr>
            <td>UserName/Email</td>
            <td><input type="text" name="textfield" required /></td>
        </tr>


        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit"/>
            </td>
        </tr>

    </table>
    <p>{{val}}</p>
</form>

</body>
</html>

{% endblock %}
{% include 'admin/adminfooter.html' %}